@font-face {
    font-family: "Helvetica-ExtraBold";
    src: url("HelveticaNowText-ExtraBold.otf");
}

@font-face {
    font-family: "Helvetica-ExtraLight";
    src: url("HelveticaNowText-ExtraLight.otf");
}

@font-face {
    font-family: "Helvetica-Regular";
    src: url("HelveticaNowText-Regular.otf");
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222222;
    background: #fff;
    font-family: "Helvetica-Regular";
}

.lc {
    &-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    &-main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        height: 100%;

        &-menu {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: "Helvetica-ExtraLight";
            height: 100%;
            margin-top: 30px;


        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
                font-family: "Helvetica-ExtraLight";

                @media (max-width: 991px) {
                    margin: 25px 0;
                    text-align: left;
                }
            }

            .right {
                a {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 150%;
                    text-decoration-line: underline;

                    color: #222222;
                    margin: 0 8px;

                    @media (max-width: 991px) {
                        font-size: 15px;
                    }

                }

                .email {
                    color: #2343F2 !important;
                }

                @media (max-width: 991px) {
                    margin: 25px 0;
                    text-align: left;
                    margin-top: 50px;
                }
            }

            @media (max-width: 991px) {
                // display: block;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                justify-content: flex-start;
            }
        }

        &-scroll {
            position: fixed;
            top: 0px;
            right: 50px;
            height: 100vh;
            display: flex;
            align-items: center;

            .progress {
                width: 2px;
                background: #E0E0E0;
                height: 50vh;

                .percent {
                    background: #222222;
                    height: 0%;
                    width: 100%;
                }
            }

            @media (max-width: 991px) {
                right: 0px;
                // display: none;

                .progress {
                    height: 100vh;
                    width: 3px;
                }
            }
        }

        &-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // font-size: 40px;
            // font-family: "Helvetica-ExtraLight";
            // overflow: hidden;

            .text {
                position: relative;
                margin-top: 100px;
                font-weight: 300;
                font-size: 80px;
                line-height: 72px;
                font-family: "Helvetica-ExtraLight";
                color: #222222;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                text-align: left;
                white-space: nowrap;
                z-index: 5;

                span {
                    font-weight: 900;
                    font-family: "Helvetica-ExtraBold";
                }

                @media (max-width: 991px) {
                    font-size: 44px;
                    line-height: 52px;
                    white-space: normal;
                }
            }

            .description {
                font-weight: 300;
                font-size: 32px;
                line-height: 48px;
                font-family: "Helvetica-ExtraLight";
                color: #222222;
                text-transform: none;

                @media (max-width: 991px) {
                    font-size: 24px;
                }
            }

            .image {
                img {
                    width: 100%;
                    // height: 80%;
                }

                @media (max-width: 991px) {
                    position: absolute;
                    z-index: 2;
                    // display: none;

                    img {
                        opacity: 0.5;
                        width: 90%;
                    }
                }
            }

            &-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                // padding: 150px 0;

                margin-top: 300px;

                @media (max-width: 991px) {
                    margin-top: 200px;
                }

                .block {
                    .title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        .square {
                            display: inline-block;
                            background: #2343F2;
                            height: 20px;
                            width: 20px;
                            margin-right: 5px;
                        }

                        font-weight: 700;
                        font-size: 28px;
                        line-height: 32px;
                        color: #222222;
                        font-family: "Helvetica-ExtraLight";

                        span {
                            font-family: "Helvetica-Regular";
                        }
                    }

                    .description {
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 36px;
                        font-family: "Helvetica-ExtraLight";
                        color: #222222;
                        max-width: 600px;

                        @media (max-width: 991px) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }

            &-2 {
                display: flex;

                margin-top: 300px;

                @media (max-width: 991px) {
                    margin-top: 200px;
                }

                .left {
                    width: 100%;

                    .title {
                        position: relative;
                        font-weight: 900;
                        font-size: 80px;
                        line-height: 72px;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        color: #222222;
                        font-family: "Helvetica-ExtraBold";
                        // z-index: 4;

                        .square {
                            position: absolute;
                            left: -15px;
                            top: -15px;
                            width: 100px;
                            height: 100px;
                            background: #2343F2;
                            // content: '';
                            z-index: 2;
                        }

                        .name {
                            position: relative;
                            z-index: 4;
                        }

                        @media (max-width: 991px) {
                            font-size: 60px;
                            margin-left: 25px;
                            // line-height: 60px;

                            .square {
                                width: 80px;
                                height: 80px;
                                left: -10px;
                                top: -5px;
                            }

                        }
                    }
                }

                .right {
                    width: 100%;

                    .text {
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 36px;
                        font-family: "Helvetica-ExtraLight";

                        @media (max-width: 991px) {
                            font-size: 20px;
                            line-height: 24px;
                            margin-top: 100px;
                        }
                    }
                }

                @media (max-width: 991px) {
                    display: block;
                }
            }

            &-3 {
                margin-top: 300px;

                @media (max-width: 991px) {
                    margin-top: 200px;
                }

                .top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 80px 0;

                    @media (max-width: 991px) {
                        display: block;
                    }

                    .title {
                        position: relative;
                        font-weight: 900;
                        font-size: 80px;
                        line-height: 72px;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        color: #222222;
                        font-family: "Helvetica-ExtraBold";
                        // z-index: 4;

                        .square {
                            position: absolute;
                            left: -15px;
                            top: -15px;
                            width: 100px;
                            height: 100px;
                            background: #2343F2;
                            // content: '';
                            z-index: 2;
                        }

                        .name {
                            position: relative;
                            z-index: 4;
                        }

                        @media (max-width: 991px) {
                            font-size: 60px;
                            margin-left: 25px;
                            // line-height: 60px;

                            .square {
                                width: 80px;
                                height: 80px;
                                left: -10px;
                                top: -5px;
                            }

                        }
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .text {
                        margin-top: 100px;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 36px;
                        max-width: 600px;
                        font-family: "Helvetica-ExtraLight";

                        @media (max-width: 991px) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }

            &-4 {
                display: flex;

                margin-top: 300px;

                @media (max-width: 991px) {
                    margin-top: 200px;
                }

                .left {
                    width: 100%;

                    .title {
                        position: relative;
                        font-weight: 900;
                        font-size: 80px;
                        line-height: 72px;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        color: #222222;
                        font-family: "Helvetica-ExtraBold";
                        // z-index: 4;

                        .square {
                            position: absolute;
                            left: -15px;
                            top: -15px;
                            width: 100px;
                            height: 100px;
                            background: #2343F2;
                            // content: '';
                            z-index: 2;
                        }

                        .name {
                            position: relative;
                            z-index: 4;
                        }

                        @media (max-width: 991px) {
                            font-size: 60px;
                            margin-left: 25px;
                            // line-height: 60px;

                            .square {
                                width: 80px;
                                height: 80px;
                                left: -10px;
                                top: -5px;
                            }

                        }
                    }
                }

                .right {
                    width: 100%;

                    .text {
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 36px;
                        font-family: "Helvetica-ExtraLight";
                    }

                    .block {
                        .number {
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 36px;
                            font-family: "Helvetica-ExtraLight";
                            color: #222222;
                            margin-bottom: 20px;
                        }

                        .name {
                            font-weight: 900;
                            font-size: 45px;
                            line-height: 66px;
                            letter-spacing: 0.02em;
                            text-transform: uppercase;
                            color: #222222;
                            font-family: "Helvetica-ExtraBold";
                            margin-bottom: 20px;

                            @media (max-width: 991px) {
                                white-space: pre-wrap;
                                font-size: 30px;
                            }
                        }

                        .description {
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 36px;
                            font-family: "Helvetica-ExtraLight";
                            color: #222222;

                            @media (max-width: 991px) {
                                font-size: 20px;
                                line-height: 24px;
                            }
                        }

                        .line {
                            width: 100%;
                            background: #222222;
                            height: 2px;
                            margin-top: 20px;
                            margin-bottom: 40px;
                        }
                    }

                    @media (max-width: 991px) {
                        margin-top: 70px;
                    }
                }

                @media (max-width: 991px) {
                    display: block;
                }
            }
        }

        &-footer {
            min-height: 100px;
            font-family: "Helvetica-ExtraLight";

            &-hr {
                background: #222222;
                width: 100%;
                height: 2px;
                margin: 70px 0;
            }
        }
    }



}